<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="wrapper">
  <h3>Welcome to Vedra!</h3>

  <p>
    Press the menu button on the left for sales and delivery inquiries!
  </p>

<p>___________________________________</p>

  <!--<button ion-button (click)="testtest()">Alert me</button>-->
 <!--<p>Call <a href="tel:+359879136323" type="text/html">+359879136323</a> for more info.</p>-->
  <div *ngIf="somethings" class="expiring-soon">
    <h3>Products expiring soon!</h3>
    <div class="data-box" *ngFor="let item of somethings">
      <h4>{{item.product}}</h4>
      <p>Expires <span class="expiration-date">{{item.expires | date:'fullDate'}}</span></p>
    </div>
  </div>
</div>
</ion-content>
